* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    width: 80%;
    background-color: azure;
    border: solid #c0c0c0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    box-sizing: border-box;
    padding: 10px;
}

header h1, header form{
    margin: 0 auto;
}

form input{
    padding: 3px;
}

form input, form a{
    margin: 5px;
}

/* form a{
    color: blue;
} */

nav {
    width: 80%;
    margin: 15px auto 0;
    padding: 5px;
    background-color: aliceblue;
    border: solid #c0c0c0 2px;
    box-sizing: border-box;
    display: flex;
}

nav a {
    padding: 5px 30px;
    margin: 0px auto;
    color: black;
    text-decoration: none;
    transition: 0.15s;
}

nav a:hover {
    color: red;
    transform: scale(1.10);
    transition: 0.25s;
}

main{
    background-image: url("https://images3.alphacoders.com/132/thumb-1920-1326193.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 400px;
    margin: 15px auto 0;
    background-color: rgb(219, 208, 192);
    border: solid #c0c0c0 2px;
    box-sizing: border-box;
    display: flex;
    padding: 25px;
}

main p{
    display: none;
    font-size: 3.0rem;
    color: red;
    text-decoration: underline;
    text-shadow: 2px 2px 4px black;
    margin: 25px auto;
    text-align: center;
}

main p:hover{
    cursor: default;
}

footer {
    width: 80%;
    margin: 40px auto 0;
}

footer p{
    text-align: center;
}
